.country{
    border: 3px solid rgb(68, 65, 65);
    background-color: aquamarine;
    width: 350px;
    padding: 10px;
    border-radius: 10px;

}

.country img{
    width: 250px;
    border-radius: 5px;
    
}




.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;

}

.up{
    color:rgb(5, 5, 5);
    background-color:aquamarine;
    justify-items: center;
    text-align: center;
    border: 2px solid rgb(10, 10, 10);
    border-radius: 10px;
    

    
}

